//======city select =======
.custom-select-wrapper
	.custom-select
		.custom-select__trigger
			span Регион
			.location
				svg.svg-pin
					use( href='./img/spriteSvg.svg#svg-pin')
		//===== выпадающий список ====
		.custom-options
			span.custom-option.selected(data-value="Москва") Москва
			span.custom-option(data-value="Саратов") Саратов
			span.custom-option(data-value="Ростов") Ростов
			span.custom-option(data-value="Санкт-Петербург") Санкт-Петербург
			span.custom-option.selected(data-value="Казань") Казань
			span.custom-option.selected(data-value="Москва") Москва
			span.custom-option(data-value="Саратов") Саратов
			span.custom-option(data-value="Ростов") Ростов
			span.custom-option(data-value="Санкт-Петербург") Санкт-Петербург
			span.custom-option.selected(data-value="Казань") Казань
			span.custom-option.selected(data-value="Москва") Москва
			span.custom-option(data-value="Саратов") Саратов
			span.custom-option(data-value="Ростов") Ростов
			span.custom-option(data-value="Санкт-Петербург") Санкт-Петербург
			span.custom-option.selected(data-value="Казань") Казань