.footer{
	background-color: var(--darkBg);
	color: var(--white);
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	row-gap:30px;
	padding: 30px 20px;
	
	&-menu-wrapper{
		column-gap:70px;
		@media (max-width: 767px) {
			column-gap: 38px;
		}
		@media (max-width: 359px) {
			column-gap: 18px;
		}
	}
	&-menu{
		a{
			font-weight: 700;
			font-size: 11px;
			padding: 5px;
			display: block;
			transition: var(--transition);
			white-space: nowrap;
			&:hover{
				opacity: .6;
			} 
		}
	}
	// @media (max-width: 767px) {
	// 	align-items: flex-start
	
	// }
}
	