.header {
	position: relative;
	&-top, &-center, &-container{
		display: flex;
		align-items: center;
	}
	&-top {
		height: 60px;
		background-color: $darkBg;
		color: white;
		.header-container{justify-content: space-between;}
	}
	&-center{
		height: 50px;
		background-color: #fff;
		.header-container{padding-left: 48px;}
	}
}
.menu-toggle{margin-right: 15px;}
.header-container{
	width: min(1140px, 100%);
	margin-inline: auto;
	position: relative;

	
}
.currency-wrapper{
	
	&>*{font-size: 11px; line-height: 1.4; font-weight: 500;}
}