.header {
	position: relative;
	&-top, &-center, &-container{
		display: flex;
		align-items: center;
	}
	&-top {
		height: 60px;
		background-color: var(--darkBg);
		color: var(--white);
		.header-container{justify-content: space-between;}
		@media (max-width: 767px) {
		.location{display: none;}
		}
	}
	&-center{
		height: 50px;
		background-color: var(--white);
		.header-container{
			padding-left: 48px;
			@media (max-width: 1439px) {
				padding-right: 48px;
			}
			@media (max-width: 1199px) {
			 padding-inline: 32px 24px;
			}
		}
	}
}
.menu-toggle{margin-right: 15px;}
.header-container{
	width: min(1140px, 100%);
	margin-inline: auto;
	position: relative;
	padding-inline: 20px;
	

	
}
.currency-wrapper{
	white-space: nowrap;
	&>*{font-size: 11px; line-height: 1.4; font-weight: 500;}
}