.large-menu{
	position: fixed;
	top: 60px;
	left: 0;
	right: 0;
	z-index: 15;
	background-color: #fff;
	box-shadow: 0 4px 8px 0 rgba(24, 39, 75, 0.25);
	max-height: 0;
	overflow: hidden;
	transition:var(--transition); 
	&.active{
		max-height:300px;
		@media (max-width: 767px) {
			max-height: 100dvh;
		}
	}
	.header-container{
		align-items: flex-start;
		justify-content: space-between;
		padding-block: 60px;
		@media (max-width: 1439px) {
			padding-block: 30px;
		}
		@media (max-width: 767px) {
		 flex-direction: column;
		 padding-block: 30px;
		 justify-content: flex-start;
		 row-gap:30px;
		 overflow: hidden;
		 overflow-y: auto;
		 max-height: 100%;
		}
	}
	&-list{
		display: grid;
		grid-template-columns: 1fr 1fr;
		column-gap: 142px;
		@media (max-width: 767px) {
			grid-template-columns: 1fr;
			row-gap:10px;
		}
	}
	&-list a{
		font-size: 20px;
		line-height: 1.4;
		font-weight: 700;
		display: block;
		width: fit-content;
		transition:var(--transition); 
		&:hover{
			opacity: .6;
		}
	}
	&-list>*+*{margin-top: 10px;}
	
}