.news-slider{
	position: relative;
	overflow: hidden;
	padding-bottom: 30px;
	.swiper-slide{
		@media (max-width: 1199px) {
			width: 240px!important;
		}
		
	}
	@media (max-width: 1199px) {
		.news-swiper-nav{display: none;}
		.news-swiper {width: calc(50vw + 50%);}
	}
}