.news-slider{
	position: relative;
	overflow: hidden;
	padding-bottom: 30px;
	
	@media (max-width: 1199px) {
		.news-swiper-nav{display: none;}
		
		padding-bottom: 20px;
	}
	@media (max-width: 767px) {
	.news-swiper,.news-swiper-two {width: calc(50vw + 50%);}
	}
}
