.tabs-btns{
	display: flex;
	align-items: center;
	column-gap: 10px;
	.tab-btn{
		padding-inline: 5px;
		font-size: 11px;
		line-height: 1.4;
		color: var(--greyText);
		position: relative;
		&:after{
			content: '';
			position: absolute;
			height: 2px;
			background-color: transparent;
			left: 0;
			right: 0;
			bottom: -14px;
			transition: var(--transition); 
		}
		&.active{color: var(--text)}
		&.active:after{
			background-color: var(--accent);
		}
	}
	
}
.news-slider .tabs-btns{
	@media (max-width: 767px) {
		display: none;
	}
}
.news-slider .flex-header{
	margin-bottom: 30px;
}