.single-news-main{
	padding-top: 0;
	section{
		@media (max-width: 767px) {
		padding-block: 10px;
		&:first-child{padding-top: 30px;}
		&:last-child {padding-bottom: 30px;}
		}
	}
	
}
.hero{
	position: relative;
	height: 540px;
	padding-bottom: 30px;
	display: flex;
	.container{
		display: flex;
		align-items: flex-end;
		position: relative;
		z-index: 2;
	}
	&-content *{
		color: var(--white);
		max-width: 800px;
	}
	
	&-content{
		display: flex;
		flex-direction: column;
		row-gap:15px;
		padding-left: 40px;
		@media (max-width: 1023px) {
		padding-left: 0;
		}
		
	}
	.subtitle {line-height: 1.6;}
	&-content .news-date{color: var(--greyText); margin-bottom: 15px; margin-top: 5px;}
	.hero-meta{
		font-size: 11px;
		line-height: 1.4;
		font-weight: 400;
	}
	.news-state{
		column-gap:16px;
		svg{
			color: #fff;
			width: 24px;
			height: 24px;
		}
				.svg-share{width: 18px;height: 18px;}
	}
	&:before{
		content: '';	
		position: absolute;
		inset: 0;
		background: linear-gradient(360deg, #000 0%, rgba(0, 0, 0, 0) 100%);
	}
	@media (max-width: 767px) {
	height: 530px;
	}
}
.news-content{
	&>*+* {margin-top: 20px;}
	a{
		font-weight: 700;
		text-decoration: underline;
		
	}
			
		
}
.news-gallery-wrapper{
	border-radius: 16px;
	display: flex;
	justify-content: center;
	background-color: var(--bodyBg);
	position: relative;
	.swiper-slide{display: flex;}
	.gallery-pagination{
		position: absolute;
		padding-right: 30px;
		bottom: 20px;
		z-index: 2;
		display: flex;
		justify-content: flex-end;
		color: var(--white);
		span{position: relative;color: var(--white);width: 16px;font-size: 14px;}
		span:first-child:after{
			content: '';
			position: absolute;
			top: -4px;
			left: -5px;
			bottom: -4px;
			border-radius: 8px;
			width: 48px;
			background-color: rgba(43, 53, 68, .6);
			
			z-index: -1;
		}
		@media (max-width: 767px) {
			padding-right: 0;
			bottom: 10px;
		}
	}
	.swiper-button-disabled{display: none;}
	.icon-fullscreen{
		position: absolute;
		top: 15px;
		right:15px;
		z-index: 2;
	}
	img{border-radius: 0;}
	 .news-gallery{
		width: min(730px, 100%);
		@media (max-width: 1023px) {
			width: min(480px, 100%);
		}
		@media (max-width: 580px) {
			width: calc(100% + 40px);
			margin-left: -20px;
				margin-right: -20px;
		}
	}
} 

.news-gallery-author{
	margin-top: 10px;
	font-size: 14px;
	padding-left: 20px;
	color: var(--greyText);
}
.announce-news__info{
	margin-top: 20px;
	li{
		display: flex;
		align-items: center;
		column-gap: 10px;
		font-size: 14px;
		span{
			color: var(--greyText);
			min-width: 60px;
		}
		&+li{margin-top: 20px;}
	}
	.flex-group{
		flex-wrap:wrap;
		gap:12px;
	}
}
.social-news__group{padding-top: 20px;}
.social-link{
	display: flex;
	
	padding: 20px;
	column-gap:10px;
	box-shadow: 0 0 24px -4px rgba(24, 39, 75, 0.08), 0 0 12px -6px rgba(24, 39, 75, 0.12);
		background: #fff;
	img{
		width: 30px;
		height: 30px;
		flex-shrink: 0;
	}
	p{
		flex-grow: 1;

	}
	transition: .3s;
	&:hover{
		opacity: .6;
	}
	@media (max-width: 767px) {
		padding: 15px;
	}
}
.social-link +.social-link{margin-top: 15px;}