section.announce-news
	h2.border-header.txt-dark О выборах в Европарламент — в материале «Ъ» #[a(href="#!").link «Время правых»]
	ul.announce-news__info
		li
			span Авторы
			.flex-group
				a(href="#!").link Петр Бузлаев
				a(href="#!").link Петр Бузлаев
				a(href="#!").link Петр Бузлаев
		li
			span Темы:
			.flex-group
				a(href="#!").link Ситуация на Украине
				a(href="#!").link Бывший СССР
