section.news-slider
	.cards-swiper.swiper
		.swiper-wrapper
			//===single-slide=====
			.swiper-slide
				+news-card-special('card-slider1', 'Партнерский проект', 'Искусство цифровизации партнеров', 'Как передовые технологии улучшают организацию деловых поездок')
			//===single-slide=====
			.swiper-slide
				+news-card-special('card-slider2', 'Партнерский проект', 'Исполнить мечту и защитить будущее', 'Как «CберCтрахование жизни» помогает исполнять желания')
			//===single-slide=====
			.swiper-slide
				+news-card-special('card-slider3', 'Партнерский проект', 'Искусство цифровизации партнеров', 'Как передовые технологии улучшают организацию деловых поездок')
			//===single-slide=====
			.swiper-slide
				+news-card-special('card-slider4', 'Партнерский проект', 'Исполнить мечту и защитить будущее', 'Как «CберCтрахование жизни» помогает исполнять желания')
			//===single-slide=====
			.swiper-slide
				+news-card-special('card-slider1', 'Партнерский проект', 'Искусство цифровизации партнеров', 'Как передовые технологии улучшают организацию деловых поездок')
			//===single-slide=====
			.swiper-slide
				+news-card-special('card-slider2', 'Партнерский проект', 'Исполнить мечту и защитить будущее', 'Как «CберCтрахование жизни» помогает исполнять желания')
	.news-swiper-nav
		.swiper-button-next.cards-swiper-next
		.swiper-button-prev.cards-swiper-prev
			