section.news-slider
	.cards-swiper.swiper
		.swiper-wrapper
			//===single-slide=====
			.swiper-slide
				+news-card('card-slider1', 'Партнерский проект', 'Искусство цифровизации партнеров', 'Как передовые технологии улучшают организацию деловых поездок')(class="news-card--special")
			//===single-slide=====
			.swiper-slide
				+news-card('card-slider2', 'Партнерский проект', 'Исполнить мечту и защитить будущее', 'Как «CберCтрахование жизни» помогает исполнять желания')(class="news-card--special")
			//===single-slide=====
			.swiper-slide
				+news-card('card-slider3', 'Партнерский проект', 'Искусство цифровизации партнеров', 'Как передовые технологии улучшают организацию деловых поездок')(class="news-card--special")
			//===single-slide=====
			.swiper-slide
				+news-card('card-slider4', 'Партнерский проект', 'Исполнить мечту и защитить будущее', 'Как «CберCтрахование жизни» помогает исполнять желания')(class="news-card--special")
			//===single-slide=====
			.swiper-slide
				+news-card('card-slider1', 'Партнерский проект', 'Искусство цифровизации партнеров', 'Как передовые технологии улучшают организацию деловых поездок')(class="news-card--special")
			//===single-slide=====
			.swiper-slide
				+news-card('card-slider2', 'Партнерский проект', 'Исполнить мечту и защитить будущее', 'Как «CберCтрахование жизни» помогает исполнять желания')(class="news-card--special")
	.news-swiper-nav
		.swiper-button-next.cards-swiper-next
		.swiper-button-prev.cards-swiper-prev
			