footer.footer
	.footer-menu-wrapper.flex-group
		nav.footer-menu
			a(href="#!") О нас
			a(href="#!") Архив
			a(href="#!") Контакты
		nav.footer-menu
			a(href="#!") Реклама
			a(href="#!") Вакансии
			a(href="#!") Android
		nav.footer-menu
			a(href="#!") Обратная связь
			a(href="#!") Правовая информация
			a(href="#!") E-mail рассылки
	include ../blocks/_social-contacts
