section.aside-right.articles
	//======LARGE LEFT COLUMN======
	.aside-right__content
		//====== БЛОК КАРТОЧЕК КАТЕГОРИИ =====
		.articles-block
			a(href="#").article-cat Главное
			article.article.grid-special
				//==== одна полная карточка слева ====
				+news-card('read-news', '', 'Ястреб в отпуске','ЦБ подождет с повышением ставки до конца июля, когда это может и не понадобиться')
				
				//===сетка с короткими карточками по 2 в ряду ====
				.grid-col-2
					+news-card('', '', 'В забой идут одни старики', 'Индексация пенсий работающим пенсионерам призвана увеличить их число на рынке труда')(class="news-card--short")
					+news-card('', '', 'Традиционным ценностям ищут дом', 'На ПМЭФ обсудили, как построить государство благодаря семье и семью благодаря государству')(class="news-card--short")
					+news-card('', '', 'В забой идут одни старики', 'Индексация пенсий работающим пенсионерам призвана увеличить их число на рынке труда')(class="news-card--short")
					+news-card('', '', 'Традиционным ценностям ищут дом', 'На ПМЭФ обсудили, как построить государство благодаря семье и семью благодаря государству')(class="news-card--short")

		//====== БЛОК КАРТОЧЕК КАТЕГОРИИ =====
		.articles-block
			a(href="#").article-cat Экономика
			article.article.grid-special
				//==== одна полная карточка слева ====
				+news-card('news2', '', 'Ястреб в отпуске','ЦБ подождет с повышением ставки до конца июля, когда это может и не понадобиться')
				
				//===сетка с короткими карточками по 2 в ряду ====
				.grid-col-2
					+news-card('', '', 'В забой идут одни старики', 'Индексация пенсий работающим пенсионерам призвана увеличить их число на рынке труда')(class="news-card--short")
					+news-card('', '', 'Традиционным ценностям ищут дом', 'На ПМЭФ обсудили, как построить государство благодаря семье и семью благодаря государству')(class="news-card--short")
					+news-card('', '', 'В забой идут одни старики', 'Индексация пенсий работающим пенсионерам призвана увеличить их число на рынке труда')(class="news-card--short")
					+news-card('', '', 'Традиционным ценностям ищут дом', 'На ПМЭФ обсудили, как построить государство благодаря семье и семью благодаря государству')(class="news-card--short")

		//====== БЛОК КАРТОЧЕК КАТЕГОРИИ =====
		.articles-block
			a(href="#").article-cat Армия
			article.article.grid-special
				//==== одна полная карточка слева ====
				+news-card('news3', '', 'Ястреб в отпуске','ЦБ подождет с повышением ставки до конца июля, когда это может и не понадобиться')
				
				//===сетка с короткими карточками по 2 в ряду ====
				.grid-col-2
					+news-card('', '', 'В забой идут одни старики', 'Индексация пенсий работающим пенсионерам призвана увеличить их число на рынке труда')(class="news-card--short")
					+news-card('', '', 'Традиционным ценностям ищут дом', 'На ПМЭФ обсудили, как построить государство благодаря семье и семью благодаря государству')(class="news-card--short")
					+news-card('', '', 'В забой идут одни старики', 'Индексация пенсий работающим пенсионерам призвана увеличить их число на рынке труда')(class="news-card--short")
					+news-card('', '', 'Традиционным ценностям ищут дом', 'На ПМЭФ обсудили, как построить государство благодаря семье и семью благодаря государству')(class="news-card--short")