header.header
	include ../sections/_large-menu
	
	//======== HEADER TOP ROW ======
	.header-top
		.header-container
			.flex-group
				//=====burger=====
				.menu-toggle#menu-toggle
					span
				//=====LOGO=====
				a(href="#!").logo
					img(src="./img/logo.webp", width="160" height="40" alt="logo")

			.flex-group
				//===== CITY SELECT =====
				include ../blocks/_custom-select


				//=====SEARCH FORM =====
				.search-block
					form.search-form#search-form
						input.search-form-input(type="text")
						button.search-form-btn(type="button")
							svg.svg-search
								use( href='./img/spriteSvg.svg#svg-search')
			
	//=======HEADER CENTER ROW =====				
	.header-center
		.header-container
			.flex-group.currency-wrapper
				#USD $ 87,90
				#EUR € 95,00
				#CNY &#165; 12,00
				#IMOEX IMOEX 3233,22
			.swiper.header-menu-swiper
				.swiper-wrapper
					+header-menu([
						{title: 'Что посмотреть в кино'},
						{title: 'Свежий Weekend'},
						{title: 'Валютный прогноз'},
						{title: 'ПМЭФ–2024'},
						{title: 'Свежие «Деньги»'},
						{title: 'Что посмотреть в кино'},
						{title: 'Свежий Weekend'},
						{title: 'Валютный прогноз'},
						{title: 'ПМЭФ–2024'},
						{title: 'Свежие «Деньги»'},
						{title: 'Свежий Weekend'}
					])
			.header-swiper-nav
				.swiper-button-next
				.swiper-button-prev
	
	//====== news line=====
	include _moving-line
		