//========HEADER LARGE MENU ======
.large-menu#large-menu
	.header-container
		nav.large-menu-list
			a(href="#!") Политика
			a(href="#!") В мире
			a(href="#!") Экономика
			a(href="#!") Культура
			a(href="#!") Армия
			a(href="#!") Новости
			a(href="#!") Общество
			a(href="#!") Люди
			a(href="#!") Спорт
		include ../blocks/_social-contacts