main.main
	//=====NEWS SLIDER ======
	section.news-slider
		.news-swiper.swiper
			.swiper-wrapper
				//===single-slide=====
				.swiper-slide
					+news-card('news', 'Происшествия', 'Продюсерская работа','За убийство Игоря Талькова заочно ответит Валерий Шляфман')
				//===single-slide=====
				.swiper-slide
					+news-card('news', 'Мир', 'БРИКС с большим плюсом', 'Ведущее объединение незападного мира не в состоянии принять всех желающих')
				//===single-slide=====
				.swiper-slide
					+news-card('news', 'Мир', 'Сербов всех стран зовут соединяться', 'Всесербский собор не поддержал «боснийский развод»')
				//===single-slide=====
				.swiper-slide
					+news-card('news', 'Мир', 'Сербов всех стран зовут соединяться', 'Всесербский собор не поддержал «боснийский развод»')
				//===single-slide=====
				.swiper-slide
					+news-card('news', 'Происшествия', 'Продюсерская работа','За убийство Игоря Талькова заочно ответит Валерий Шляфман')
				//===single-slide=====
				.swiper-slide
					+news-card('news', 'Мир', 'БРИКС с большим плюсом', 'Ведущее объединение незападного мира не в состоянии принять всех желающих')
				//===single-slide=====
				.swiper-slide
					+news-card('news', 'Мир', 'Сербов всех стран зовут соединяться', 'Всесербский собор не поддержал «боснийский развод»')
				//===single-slide=====
				.swiper-slide
					+news-card('news', 'Мир', 'Сербов всех стран зовут соединяться', 'Всесербский собор не поддержал «боснийский развод»')
		.news-swiper-nav
			.swiper-button-next.news-button-next
			.swiper-button-prev.news-button-prev
		
	section.aside-right
		.aside-right__content
			article
				.h2 Главное
				.article-content.grid-col-3
					+news-card('', 'Происшествия', 'Сербов всех стран зовут соединяться', 'Сербов всех стран зовут соединяться', 'Всесербский собор не поддержал «боснийский развод»')
					+news-card('', 'Происшествия', 'Сербов всех стран зовут соединяться', 'Сербов всех стран зовут соединяться', 'Всесербский собор не поддержал «боснийский развод»')
					+news-card('', 'Происшествия', 'Сербов всех стран зовут соединяться', 'Сербов всех стран зовут соединяться', 'Всесербский собор не поддержал «боснийский развод»')
			article
				.h2 Политика
				.article-content.grid-col-3
					+news-card('news', 'Происшествия', 'Продюсерская работа','За убийство Игоря Талькова заочно ответит Валерий Шляфман')
					+news-card('news', 'Мир', 'БРИКС с большим плюсом', 'Ведущее объединение незападного мира не в состоянии принять всех желающих')

					+news-card('news', 'Мир', 'Сербов всех стран зовут соединяться', 'Всесербский собор не поддержал «боснийский развод»')
		
		.grid-col-1
			article
				.h2 Главное
				.article-content
					+news-card('news', 'Происшествия', 'Сербов всех стран зовут соединяться',  'Всесербский собор не поддержал «боснийский развод»', '225', '225')(class=" news-card--long")

		