main.main
	//=====NEWS SLIDER ======
	include ../sections/_news-slider
	section.topic-news
		.grid-col-2
			.topic-news__title
				span.accent-label Тема часа
				h2.h1 Дело возбуждено после нападения на главу АНО «Цифровые платформы»
				picture.topic-img
					source(media="(max-width: 767px)" srcset="./img/topic-mob.webp")
					img(src="./img/topic.webp", width="738" alt="img")
			
			ul.news-list
				li
					a(href="#!") Welt: ФРГ, Италия и Испания выступают против идеи Макрона отправить военных на Украину
				li
					a(href="#!") В Иране определили кандидатов в президенты
				li
					a(href="#!") Гладков сообщил о 140 атаках ВСУ по Белгородской области за сутки
				li
					a(href="#!") Школам запретили занимать больше 10% учебного времени контрольными работами
				li
					a(href="#!") Умер зампред Совета министров РСФСР Валерий Сайкин
				li
					a(href="#!") Байден и Макрон поддержали использование прибыли от активов РФ для нужд Украины
				li
					a(href="#!") WSJ: Египет и Катар пригрозили выслать лидеров «Хамаса» для сделки с Израилем
				li
					a(href="#!") ТАСС: в отношении Аскерова могут возбудить дело за нарушение закона об иноагентах
				li
					a(href="#!") Что происходит после ввода войск России на Украину. День 837-й
				li
					a(href="#!") Началось строительство первой высокоскоростной железнодорожной магистрали в России

	
	
	section.aside-right
		.aside-right__content
			article
				.h2 Главное
				.article-content.grid-col-3
					+news-card('', 'Происшествия', 'Сербов всех стран зовут соединяться', 'Сербов всех стран зовут соединяться', 'Всесербский собор не поддержал «боснийский развод»')
					+news-card('', 'Происшествия', 'Сербов всех стран зовут соединяться', 'Сербов всех стран зовут соединяться', 'Всесербский собор не поддержал «боснийский развод»')
					+news-card('', 'Происшествия', 'Сербов всех стран зовут соединяться', 'Сербов всех стран зовут соединяться', 'Всесербский собор не поддержал «боснийский развод»')
			article
				.h2 Политика
				.article-content.grid-col-3
					+news-card('news', 'Происшествия', 'Продюсерская работа','За убийство Игоря Талькова заочно ответит Валерий Шляфман')
					+news-card('news', 'Мир', 'БРИКС с большим плюсом', 'Ведущее объединение незападного мира не в состоянии принять всех желающих')

					+news-card('news', 'Мир', 'Сербов всех стран зовут соединяться', 'Всесербский собор не поддержал «боснийский развод»')
		
		.grid-col-1
			article
				.h2 Главное
				.article-content
					+news-card('news', 'Происшествия', 'Сербов всех стран зовут соединяться',  'Всесербский собор не поддержал «боснийский развод»', '225', '225')(class=" news-card--long")

		