.moving-block
	.moving-block-row
		a(href="#!") Общество / 11:06 / ФАС обнаружила дорожный картель на 1,6 миллиардов рублей
		a(href="#!") Судебные приставы передали российскому военному ведомству более 190 тыс. единиц техники, изъятой у правонарушителей.
		a(href="#!") МОСКВА, 28 июня. /ТАСС/. Президент РФ Владимир Путин установил ежемесячную компенсацию, равную пенсии по выслуге лет
		a(href="#!") Общество / 11:06 / ФАС обнаружила дорожный картель на 1,6 миллиардов рублей
		a(href="#!") МОСКВА, 28 июня. /ТАСС/. Президент РФ Владимир Путин установил ежемесячную компенсацию, равную пенсии по выслуге лет
		a(href="#!") Общество / 11:06 / ФАС обнаружила дорожный картель на 1,6 миллиардов рублей
		a(href="#!") МОСКВА, 28 июня. /ТАСС/. Президент РФ Владимир Путин установил ежемесячную компенсацию, равную пенсии по выслуге лет
		a(href="#!") Общество / 11:06 / ФАС обнаружила дорожный картель на 1,6 миллиардов рублей
		a(href="#!") МОСКВА, 28 июня. /ТАСС/. Президент РФ Владимир Путин установил ежемесячную компенсацию, равную пенсии по выслуге лет