.moving-block
	.moving-block-row
		a(href="#!") Общество / 11:06 / ФАС обнаружила дорожный картель на 1,6 миллиардов рублей
		a(href="#!") Общество / 11:06 / ФАС обнаружила дорожный картель на 1,6 миллиардов рублей
		a(href="#!") Общество / 11:06 / ФАС обнаружила дорожный картель на 1,6 миллиардов рублей
		a(href="#!") Общество / 11:06 / ФАС обнаружила дорожный картель на 1,6 миллиардов рублей
		a(href="#!") Общество / 11:06 / ФАС обнаружила дорожный картель на 1,6 миллиардов рублей
		a(href="#!") Общество / 11:06 / ФАС обнаружила дорожный картель на 1,6 миллиардов рублей
		a(href="#!") Общество / 11:06 / ФАС обнаружила дорожный картель на 1,6 миллиардов рублей
		a(href="#!") Общество / 11:06 / ФАС обнаружила дорожный картель на 1,6 миллиардов рублей
		a(href="#!") Общество / 11:06 / ФАС обнаружила дорожный картель на 1,6 миллиардов рублей
		a(href="#!") Общество / 11:06 / ФАС обнаружила дорожный картель на 1,6 миллиардов рублей
		a(href="#!") Общество / 11:06 / ФАС обнаружила дорожный картель на 1,6 миллиардов рублей
		a(href="#!") Общество / 11:06 / ФАС обнаружила дорожный картель на 1,6 миллиардов рублей
		a(href="#!") Общество / 11:06 / ФАС обнаружила дорожный картель на 1,6 миллиардов рублей
		a(href="#!") Общество / 11:06 / ФАС обнаружила дорожный картель на 1,6 миллиардов рублей
		a(href="#!") Общество / 11:06 / ФАС обнаружила дорожный картель на 1,6 миллиардов рублей