section.news-slider
	.news-swiper.swiper
		.swiper-wrapper
			//===single-slide=====
			.swiper-slide
				+news-card('news', 'Происшествия', 'БРИКС с большим плюсом')
			//===single-slide=====
			.swiper-slide
				+news-card('news2', 'Мир', 'Масуд Пезешкиан лидирует на выборах ')
			//===single-slide=====
			.swiper-slide
				+news-card('news3', 'Мир', 'Воробьев заявил, что на месте Крокус-Сити не станут строить новый концертный зал')
			//===single-slide=====
			.swiper-slide
				+news-card('news4', 'Мир', 'БРИКС с большим плюсом')
			//===single-slide=====
			.swiper-slide
				+news-card('news5', 'Происшествия', 'В Москве заочно арестовали фигуранта уголовного дела')
			//===single-slide=====
			.swiper-slide
				+news-card('news', 'Мир', 'Шри-Ланка запросила у России компенсауию за погибших на СВО')
			
	.news-swiper-nav
		.swiper-button-next.news-button-next
		.swiper-button-prev.news-button-prev