section.news-slider
	.news-swiper.swiper
		.swiper-wrapper
			//===single-slide=====
			.swiper-slide
				+news-card('news', 'Происшествия', 'БРИКС с большим плюсом')
			//===single-slide=====
			.swiper-slide
				+news-card('news', 'Мир', 'БРИКС с большим плюсом')
			//===single-slide=====
			.swiper-slide
				+news-card('news', 'Мир', 'БРИКС с большим плюсом')
			//===single-slide=====
			.swiper-slide
				+news-card('news', 'Мир', 'БРИКС с большим плюсом')
			//===single-slide=====
			.swiper-slide
				+news-card('news', 'Происшествия', 'БРИКС с большим плюсом')
			//===single-slide=====
			.swiper-slide
				+news-card('news', 'Мир', 'БРИКС с большим плюсом')
			//===single-slide=====
			.swiper-slide
				+news-card('news', 'Мир', 'БРИКС с большим плюсом')
			//===single-slide=====
			.swiper-slide
				+news-card('news', 'Мир', 'БРИКС с большим плюсом')
			//===single-slide=====
			.swiper-slide
				+news-card('news', 'Происшествия', 'БРИКС с большим плюсом')
			//===single-slide=====
			.swiper-slide
				+news-card('news', 'Мир', 'БРИКС с большим плюсом')
			//===single-slide=====
			.swiper-slide
				+news-card('news', 'Мир', 'БРИКС с большим плюсом')
			//===single-slide=====
			.swiper-slide
				+news-card('news', 'Мир', 'БРИКС с большим плюсом')
	.news-swiper-nav
		.swiper-button-next.news-button-next
		.swiper-button-prev.news-button-prev