section.other-news
	.other-news-wrapper
		.news-menu
			a(href="#!") Новости компаний
			a(href="#!").active Все
		
		.other-news-cards
			//====mini-card ====
			a(href="#!").mini-card
				span.mini-card__date 07.06.2024
				.h2 АО «Газпромбанк»
				p «Газпром» и Газпромбанк договорились о работе по внедрению квантовых технологий
			//====mini-card ====
			a(href="#!").mini-card
				span.mini-card__date 07.06.2024
				.h2 АО «Газпромбанк»
				p «Газпром» и Газпромбанк договорились о работе по внедрению квантовых технологий
			//====mini-card ====
			a(href="#!").mini-card
				span.mini-card__date 07.06.2024
				.h2 АО «Газпромбанк»
				p «Газпром» и Газпромбанк договорились о работе по внедрению квантовых технологий
			//====mini-card ====
			a(href="#!").mini-card
				span.mini-card__date 07.06.2024
				.h2 АО «Газпромбанк»
				p «Газпром» и Газпромбанк договорились о работе по внедрению квантовых технологий