section.aside-right.articles
	//======LARGE LEFT COLUMN======
	.aside-right__content
		.articles-block
			a(href="#").article-cat Главное
			article.article
				
				+news-card('img1', 'Происшествия', 'Миражи Эмманюэля Макрона', 'Президент Франции пообещал вывести военную поддержку Украине на новый уровень',  '440', '250')(class="news-card--large")
			
			article.grid-col-3.article
				+news-card('news', 'Происшествия', 'Продюсерская работа','За убийство Игоря Талькова заочно ответит Валерий Шляфман')
				+news-card('news', 'Мир', 'БРИКС с большим плюсом', 'Ведущее объединение незападного мира не в состоянии принять всех желающих')

				+news-card('news', 'Мир', 'Сербов всех стран зовут соединяться', 'Всесербский собор не поддержал «боснийский развод»')
				//======= краткие карточки без картинки =====
				+news-card('', 'Происшествия', 'Беспорядки дошли до суда', 'Дело о погроме в махачкалинском аэропорту рассмотрят в Армавире')(class="news-card--short")
				+news-card('', 'Спорт', 'Укротитель бросков', 'Благодаря голкиперу Сергею Бобровскому «Флорида» начала финальную серию Кубка Стэнли с победы')(class="news-card--short")
				+news-card('', 'Мир', 'Евроремонт по-французски', 'Начались выборы в Европейский парламент')(class="news-card--short")

	//======RIGHT COLUMN ======
	.aside-right__sidebar
		article.article
			a(href="#").article-cat Частное мнение
			.article-content
				+news-card('news', 'Происшествия', 'Сербов всех стран зовут соединяться',  'Всесербский собор не поддержал «боснийский развод»', '225', '225')(class=" news-card--long")
		article.article
			.card-list
				a(href="#").article-cat Самое читаемое
				.card-list__img
					img(src="./img/read-news.webp", width="290" height="170" alt="img")
				ol.card-list__body
					li
						span.eye-label 70719
							svg.svg-eye
								use( href='./img/spriteSvg.svg#svg-eye')
						p Глашатай истин роковых

					li
						span.eye-label 70719
							svg.svg-eye
								use( href='./img/spriteSvg.svg#svg-eye')
						p ЦКАД ведет в колонию

					li
						span.eye-label 70719
							svg.svg-eye
								use( href='./img/spriteSvg.svg#svg-eye')
						p При дворе их звали Настенька и Трина
					li
						span.eye-label 70719
							svg.svg-eye
								use( href='./img/spriteSvg.svg#svg-eye')
						p  Город, сделанный из древнерусского
					li
						span.eye-label 70719
							svg.svg-eye
								use( href='./img/spriteSvg.svg#svg-eye')
						p  «Плесень старого чиновничества покрыла наши учреждения»