section.aside-right
	//======LARGE LEFT COLUMN======
	.aside-right__content
		.flex-header
			h1.h1 Мир
			a(href="#!").h2 Все публикации
		.cat-news-wrapper.pt-30
			+news-card-horiz('img1')
			+news-card-horiz('img1')
			+news-card-horiz('img1')
			+news-card-horiz('')
	
	//======RIGHT COLUMN ======
	.aside-right__sidebar
