//======HERO BLOCK======
.hero
	.container
		.hero-content
			h1.h1 Песков счел внутренним делом Франции победу правых на европейских выборах
			.subtitle
				p Роспуск Национальной ассамблеи сразу после победы правой фракции на выборах в Европарламент во Франции в Кремле считают внутренним делом французских граждан. Так пресс-секретарь президента Дмитрий Песков прокомментировал итоги выборов в Европарламент.
			.hero-meta
				a(href="#!").news-cat.link Мир
				.news-date 10.06.2024, 13:25
				.news-state.flex-group
					.icon-item
						svg.svg-eye
							use( href='./img/spriteSvg.svg#svg-eye')
						span 7k
					.icon-item
						svg.svg-share
							use( href='./img/spriteSvg.svg#svg-share')

section.news-content
	p «Это внутреннее дело Французской республики... Если я правильно помню, это не является новацией в политических технологиях Французской республики. До господина Макрона это неоднократно делали его предшественники, такие же аналогичные ходы»,— заявил Дмитрий Песков. Он отметил, что в Кремле будут внимательно наблюдать за результатами, тем более принимая во внимание «недружественный, а даже враждебный настрой французского руководства» по отношению к России.
	p Дмитрий Песков также сообщил, что в Кремле наблюдают за расстановкой сил в Европарламенте и видят динамику к повышению популярности правых партий, которые «наступают на пятки» проевропейским силам. «Мы видим динамику на повышение популярности правых партий. Это видно невооруженным взглядом»,— добавил Дмитрий Песков. При этом он отметил, что «проевропейцы» по-прежнему сохраняют лидирующие позиции.
	p Во Франции по итогам выборов в Европарламент #[a(href="#!") победило ] правое «Национальное объединение» под председательством Жордана Барделля. По итогам выборов в Европарламент в Германии худший свой результат также показала фракция канцлера ФРГ Олафа Шольца Социал-демократическая партия (СДПГ). Она заняла третье место после правоцентристов из блока ХДС/ХСС и крайне правых из «Альтернативы для Германии» (АдГ).
	
	//===== текст с бордером слева ======
	.border-txt
		p В «Мультимедиа Холдинг» входят помимо ООО «Ультра Тикетс» (25%) по 100% ООО «Ультра Продакшн», ООО «Джем», ООО «Наше радио», ООО «Стайл Медиа Холдинг», ООО «Классик Рок», ООО НСН и 60% ООО «Арт Радар» (с марта в статусе ликвидации). Выручка ЗАО за 2023 год составила 221 млн руб. при чистой прибыли 32 млн руб. В 2022 году показатели были на уровне 166 млн и 15 млн руб. соответственно.
	
	//==== news gallery ====
	.news-gallery-wrapper
		//===slider====
		.news-gallery.swiper
			.swiper-wrapper
				//====singl slide ===
				.swiper-slide
					a.gallery-image(href="./img/gallery.webp" data-fancybox="gallery" )
						span.icon-fullscreen
						img(src="./img/gallery.webp", width="730" height="540" alt="img")
				//====singl slide ===
				.swiper-slide
					a.gallery-image(href="./img/gallery.webp" data-fancybox="gallery" )
						span.icon-fullscreen
						img(src="./img/gallery.webp", width="730" height="540"  alt="img")
		
		//======вывод количества слайдов ======
		.gallery-pagination.swiper-pagination
		//====== slider nav arrows ====	
		.swiper-button-next.gallery-swiper-next
		.swiper-button-prev.gallery-swiper-prev

		//======figcaption ======
	p.news-gallery-author Фото: Алексей Тарханов

//=======аннонс новости ====
section.announce-news
	h2.border-header.txt-dark О выборах в Европарламент — в материале «Ъ» #[a(href="#!").link «Время правых»]
	ul.announce-news__info
		li
			span Авторы
			.flex-group
				a(href="#!").link Петр Бузлаев
				a(href="#!").link Петр Бузлаев
				a(href="#!").link Петр Бузлаев
		li
			span Темы:
			.flex-group
				a(href="#!").link Ситуация на Украине
				a(href="#!").link Бывший СССР

section.social-news
	h2.border-header Мы в социальных сетях
	.social-news__group
		a(href="#!").social-link
			img(src="./img/tg.svg", alt="tg")
			p Путин: осужденные должны содержаться в человеческих условиях

		a(href="#!").social-link
			img(src="./img/vk.svg", alt="tg")
			p Путин: осужденные должны содержаться в человеческих условиях
		
		a(href="#!").social-link
			img(src="./img/tg.svg", alt="tg")
			p Путин: осужденные должны содержаться в человеческих условиях
		
		a(href="#!").social-link
			img(src="./img/ok.svg", alt="tg")
			p Путин: осужденные должны содержаться в человеческих условиях