section.social-news
	h2.border-header Мы в социальных сетях
	.social-news__group
		a(href="#!").social-link
			img(src="./img/tg.svg", alt="tg")
			p Путин: осужденные должны содержаться в человеческих условиях

		a(href="#!").social-link
			img(src="./img/vk.svg", alt="tg")
			p Путин: осужденные должны содержаться в человеческих условиях
		
		a(href="#!").social-link
			img(src="./img/tg.svg", alt="tg")
			p Путин: осужденные должны содержаться в человеческих условиях
		
		a(href="#!").social-link
			img(src="./img/ok.svg", alt="tg")
			p Путин: осужденные должны содержаться в человеческих условиях