:root{
  --white: #ffffff;
  --text: #2b3544;
  --greyText: #999;
  --accent: #da251d;
  --darkBg: #2B3544;
  --bodyBg: #E9F8FF;
  --socialBg: #E9F8FF;
  --sectionBorder: #eeeeee;
  --tagLabel: #999999;
  --svgColor: #999999;

  --newsLineDuration: 100s;/* длительность движения линии новостей*/
  --transition: .3s; /* длительность hover*/
  --citySelectHeight: 300px; /*max-height для выпадающего списка городов*/
  --newsLineHover: #f9f9f9;

  --borderRadius: 16px;

  --fontFamily: 'InterTight', sans-serif;
}
*, *:before, *:after {
	  box-sizing: border-box;
    background-repeat: no-repeat;
    background-size: cover;

    
  }
  .page-wrapper{
    display: flex;
    flex-direction: column;
    height: 100%;
    &>*{width: 100%;}
    header.header, footer.footer{flex-shrink: 0;}
    main{flex-grow: 1;}
  }
  html {
	 scroll-behavior: smooth;
  }

  html,
  body {
	margin: 0;
	padding: 0;
	width: 100%;
  height: 100%;
  font-family: var(--fontFamily);
  background-color: var(--bodyBg);
  line-height: 1.5;
  color: var(--text);
	-webkit-font-smoothing: antialiased;

  }
  body.active {
	overflow: hidden;
	touch-action: none;
	-ms-touch-action: none;
	height: 100vh;
  padding-right: 17px;
    @media (max-width: 1199px) {
      padding-right: 0;
    }
  }
  
  a{color: inherit; display: inline-block; text-decoration-skip-ink: none;}
  a,
  a:hover {
	text-decoration: none;
  }
  

  h1,
  h2,
  h3,
  h4,
  p, ol,  ul{
	padding: 0;
	margin: 0;
  list-style-type: none;
  }
 
  img {
	max-width: 100%;
	height: auto;
	vertical-align: middle;
  // object-fit: cover;
  border-radius: var(--borderRadius);
  }
  
  input,
  button, button:focus, input:focus {
	outline: none;
  }
  
 input,button {
	padding: 0;
	background: none;
	border: none;
	box-shadow: none;

  }
input[type="submit"]{
	padding: 0;
	cursor:pointer;
}
button{cursor: pointer;}
input:focus, button:focus{outline: none;}
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {

  -webkit-box-shadow: 0 0 0px 1000px #ffffff inset;
  transition: background-color 5000s ease-in-out 0s;
}
.container{
  width: min(1200px, 100%);
  margin: 0 auto;
  padding-inline: 20px;
 
}
.h1, .h2, .article-cat, .title-20{
  line-height: 1.4;
  font-weight: 700;
  color: var(--text);
}
.h1 {
  font-size: 24px;
  @media (max-width: 767px) {
  font-size: 20px;
  }
}
.title-20{
  font-size: 20px;
  
}
.h2, .article-cat,.border-header{
  font-size: 16px;
  margin-bottom: 10px;
  color: var(--greyText);
  transition: var(--transition); 
}
 *.txt-dark, .txt-dark{
  color: var(--text);
}
.link{
  width: fit-content;
  border-bottom: 1px solid currentColor;
  transition: .3s; 
  line-height: 1.2;
  font-weight: 600;
  &:hover{opacity: .8;}
}
a.h2:hover{
  color: var(--text);
}
.border-txt{
  font-size: 14px;
  margin-left: 20px;
  padding-left: 20px;
  border-left: 1px solid currentColor;
  font-style: italic;
  margin-block: 20px;
  @media (max-width: 767px) {
   margin-left: 15px;
    padding-left: 15px;
  }
}
.flex-group, .flex-header, .flex-center{
  display: flex;
  align-items: center;
  gap:10px;
}
.flex-center{justify-content: center;}
.flex-header {
  justify-content: space-between;
  padding-bottom: 8px;
  border-bottom: 2px solid var(--sectionBorder);
  &>*{margin-bottom: 0;}
  .article-cat{
    border-bottom: 0;
    padding-bottom: 0;
    margin-bottom: 0;
  }
}
main{
 padding-block: 40px;
  @media (max-width: 767px) {
   padding-block: 20px;
  }
}
main.main{
  border-radius: 24px;

  margin-inline: auto;
  .container>*+*{margin-top: 40px;}
}
section{
  background-color: var(--white);
  width: min(1160px, 100%);
  margin-inline:auto;
  padding: 20px 40px;
  &:first-of-type:last-of-type{
    border-radius: 24px;
  }
  
  &:first-of-type{
    border-radius: 24px 24px 0 0; padding-top: 40px;
    @media (max-width: 767px) {
     padding-top: 30px;
      border-radius:0;
    }
  }

  & +section{
    border-radius: 0;
  }
  &:last-of-type {
    border-radius: 0 0 24px 24px ;
    padding-bottom: 40px;
    @media (max-width: 767px) {
    padding-bottom: 30px;
    }
  }
  @media (max-width: 1023px) {
    padding: 15px 20px;
  }
}
  .zoom-img {
    overflow: hidden;

    img {
      transition: .3s;
    }

    &:hover img {
      transform: scale(1.05);
    }
  }
.pt-10 {
  padding-top: 10px;
}
.pt-20 {
  padding-top: 20px;
}
.pt-30 {
  padding-top: 30px;
  @media (max-width: 767px) {
  padding-top: 20px;
  }
}
.pt-40 {
  padding-top: 40px;
}
.pb-10 {
  padding-bottom: 10px;
}
.pb-20 {
  padding-bottom: 20px;
}
.pb-30 {
  padding-bottom: 30px;
}
.pb-40 {
  padding-bottom: 40px;
}
.mt-10 {
  margin-top: 10px;
}

.mt-20 {
  margin-top: 20px;
}

.mt-30 {
  margin-top: 30px;
  @media (max-width: 767px) {
  margin-top: 20px;
  }
}

.mt-40 {
  margin-top: 40px;
}

.mb-10 {
  margin-bottom: 10px;
}

.mb-20 {
 margin-bottom: 20px;
}

.mb-30 {
  margin-bottom: 30px;
}

.mb-40 {
  margin-bottom: 40px;
}
.txt-center{text-align: center;}

.article-cat,.border-header{
  display: block;
  padding-bottom: 10px;
  margin-bottom: 10px;
  border-bottom: 2px solid var(--sectionBorder);
  position: relative;
  transition: var(--transition);
}
.article-cat:after{
  content: '';
  display: inline-block;
  width: 12px;
  height: 12px;
  background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg width='8' height='12' viewBox='0 0 8 12' fill='none' xmlns='http://www.w3.org/2000/svg'%3e%3cpath d='M1.65625 0.857178L6.34375 6.00003L1.65625 11.1429' stroke='%23DA251D' stroke-width='2'/%3e%3c/svg%3e");
  background-size: 8px 12px;
  vertical-align: middle;
  margin-left: 5px;
 transform: scale(0);
  transition: var(--transition); 
}
.article-cat:hover{
  color: var(--text);
  &:after{transform: scale(1);}
}
.tag-label{
  display: inline-block;
   border: 1px solid currentColor;
   color: var(--tagLabel);
   font-size: 11px;
   line-height: 1.4;
   font-weight: 700;
   padding: 4px 8px;
   border-radius: 8px;
   margin-bottom: 10px;
   transition: var(--transition);
   &:hover{
    color: var(--text);
    background-color: var(--bodyBg);
    border:1px solid var(--bodyBg);
   }
}
.tag-label.tag-label--accent{
  color: var(--accent);
}
.news-list{
  li{
   position: relative;
   padding-left: 18px;

   &:before{
    content:'';
    width: 6px;
    height: 6px;
    border-radius: 50%;
    position: absolute;
    left: 0;
    top: 12px;
    background-color: var(--darkBg);
    flex-shrink: 0;
   }
  }
  li +li{margin-top: 15px;}
  a{
  line-height: 1.5; font-weight: 500;
    transition:var(--transition); 
    &.visited, &:hover {
        color: var(--greyText);
    }
  }
}
.icon-item {
  color: var(--greyText);
  font-weight: 400;
  font-size: 11px;
  display: flex;
  align-items: center;
  gap: 6px;

  svg {
    width: 12px;
    height: 12px;
    color: #777;
  }
}