.aside-right{
	display: grid;
	grid-template-columns: 1fr 240px;
	gap: 40px;
	@media (max-width: 1199px) {
		gap: 30px;
	}
	@media (max-width: 1023px) {
		grid-template-columns: 1fr;
	}
	@media (max-width: 767px) {
	gap: 0;
	}
}
.grid-col-2 {
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	gap: 40px;
	@media (max-width: 1023px) {
		grid-template-columns: repeat(1, 1fr);
		gap: 30px;
	}
	@media (max-width: 767px) {
		gap: 20px;
	}
}
.grid-col-3{
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	gap:40px;
	@media (max-width: 1199px) {
		gap: 30px;
	}
	@media (max-width: 767px) {
	 gap:0;
	}
}
.grid-col-4 {
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	gap: 40px;
}
.aside-right__sidebar{
	.article:first-child{padding-top: 0;}

	@media (max-width: 1023px) {
		display: grid;
		grid-template-columns: 1fr 240px;
		column-gap: 30px;
		.article +.article{border-top: 0; padding-top: 0;}
		.news-card{width:min(400px, 100%);}
	}
	@media (max-width: 767px) {
		grid-template-columns: 1fr;
		row-gap:0;
	}
}
.aside-right.aside-right--special{
	@media (max-width: 1199px) {
		grid-template-columns: 1fr;
		row-gap: 0;
		.grid-col-2{
			grid-template-columns: 1fr 1fr;
		}
	}
	@media (max-width: 767px) {
	.grid-col-2 {
			grid-template-columns: 1fr;
			
		}
	}
	
}
.grid-special{
	display: grid;
	grid-template-columns: 240px 1fr;
	column-gap: 40px;
	@media (max-width: 1199px) {
		grid-template-columns: 228px 1fr;
	}
	@media(max-width:599px){
		grid-template-columns: 1fr;
		row-gap:20px;
	}
}