.aside-right{
	display: grid;
	grid-template-columns: 1fr 240px;
	gap: 40px;
	@media (max-width: 1199px) {
		gap: 20px;
	}
	@media (max-width: 1023px) {
		grid-template-columns: 1fr;
	}
}
.grid-col-2 {
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	gap: 40px;
	@media (max-width: 1023px) {
		grid-template-columns: repeat(1, 1fr);
	}
}
.grid-col-3{
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	gap:40px;
	@media (max-width: 1199px) {
		gap: 20px;
	}
}
.grid-col-4 {
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	gap: 40px;
}