*[class^="svg-"]{
	display: inline-block;
	transition:var(--transition); 
}
.svg-search{
	width: 24px;
	height: 24px;
	color: rgba(255, 255, 255, .6);
	fill: transparent;
	cursor:pointer;
}
.svg-pin{
	width: 16px;
	height: 20px;
	color: rgba(255, 255, 255, .6);
	transition:var(--transition); 
	
}
.location{
	width: 24px;
	height: 24px;
	display: flex;
	justify-content: center;
	align-items: center;
	cursor: pointer;
	&:hover .svg-pin{color: rgba(255, 255, 255, 1);}
}
.svg-eye{
	width: 24px;
	height: 24px;
	fill: transparent;
	color: var(--svgColor);
}
.svg-repost{
	width: 24px;
	height: 24px;
	color:  var(--svgColor);
	
}
.svg-share{
	fill: white;
	width: 20px;
	height: 20px;
	
}
.svg-chevron{
	width: 12px;
	height: 8px;
	fill: transparent;
	color: var(--white);
	
}
.icon-fullscreen{
	width: 32px;
	height: 32px;
	background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg width='32' height='32' viewBox='0 0 32 32' fill='none' xmlns='http://www.w3.org/2000/svg'%3e%3cg opacity='0.6'%3e%3cpath d='M26.667 26.6666V27.6666H27.667V26.6666H26.667ZM20.7074 19.2929C20.3169 18.9023 19.6837 18.9023 19.2932 19.2929C18.9027 19.6834 18.9027 20.3165 19.2932 20.7071L20.7074 19.2929ZM25.667 18.6666V26.6666H27.667V18.6666H25.667ZM26.667 25.6666H18.667V27.6666H26.667V25.6666ZM27.3741 25.9595L20.7074 19.2929L19.2932 20.7071L25.9599 27.3737L27.3741 25.9595Z' fill='%23ffffff' /%3e%3cpath d='M5.33301 26.6666H4.33301V27.6666H5.33301V26.6666ZM12.7068 20.7071C13.0973 20.3165 13.0973 19.6834 12.7068 19.2929C12.3163 18.9023 11.6831 18.9023 11.2926 19.2929L12.7068 20.7071ZM4.33301 18.6666V26.6666H6.33301V18.6666H4.33301ZM5.33301 27.6666H13.333V25.6666H5.33301V27.6666ZM6.04011 27.3737L12.7068 20.7071L11.2926 19.2929L4.6259 25.9595L6.04011 27.3737Z' fill='%23ffffff' /%3e%3cpath d='M26.667 5.33337H27.667V4.33337H26.667V5.33337ZM19.2932 11.2929C18.9027 11.6835 18.9027 12.3166 19.2932 12.7071C19.6837 13.0977 20.3169 13.0977 20.7074 12.7071L19.2932 11.2929ZM27.667 13.3334V5.33337H25.667V13.3334H27.667ZM26.667 4.33337H18.667V6.33337H26.667V4.33337ZM25.9599 4.62627L19.2932 11.2929L20.7074 12.7071L27.3741 6.04048L25.9599 4.62627Z' fill='%23ffffff' /%3e%3cpath d='M5.33301 5.33337V4.33337H4.33301V5.33337H5.33301ZM11.2926 12.7071C11.6831 13.0977 12.3163 13.0977 12.7068 12.7071C13.0973 12.3166 13.0973 11.6835 12.7068 11.2929L11.2926 12.7071ZM6.33301 13.3334V5.33337H4.33301V13.3334H6.33301ZM5.33301 6.33337H13.333V4.33337H5.33301V6.33337ZM4.6259 6.04048L11.2926 12.7071L12.7068 11.2929L6.04011 4.62627L4.6259 6.04048Z' fill='%23ffffff' /%3e%3c/g%3e%3c/svg%3e");
}
.svg-fullscreen{
	width: 32px;
	height: 32px;
	color: var(--svgColor);
	opacity: .6;
	&:hover{opacity: 1;}
}
.svg-404{
	width: 171px;
	height: 68px;
}