.news-card{
	background-color: var(--white);
	
	&__img{
		width: 100%;
		height: 135px;
		overflow: hidden;
		background-color: var(--greyText);
		border-radius: 16px;
		box-shadow: 0 4px 8px 0 rgba(24, 39, 75, 0.25);
		img{
			width: 100%;
			height: 100%;
			transition: var(--transition); 
			object-fit:cover;
		}
		@media (max-width: 767px) {
		 max-width: 440px;
		 aspect-ratio: 16 / 9;
		 height: auto;
		}
	}
	
	&__body{
		padding-top: 15px;
		padding-inline:10px;
		p{
			font-size: 14px;
			margin-top: 5px;
		}
	}
	&__cat{
		font-size: 11px;
		color: var(--greyText);
		line-height: 1.4;
	}
	&__title{
		font-weight: 700;
		font-size: 16px;
		line-height: 1.4;
		transition:var(--transition); 
		color: var(--text);
	}
	&:hover img{
		transform: scale(1.04);
	}
	&:hover &__title{color: var(--greyText);}
	&:hover &__cat{color: var(--text);}
	@media (max-width: 767px) {
		max-width: 440px;
		&__body{padding-inline: 0;}
	}
}
.news-card.news-card--long{
	.news-card__img{
		height: 225px;
		@media (max-width: 767px) {
		height: auto;
		}
	}
	
}
.news-card--short .news-card__body{padding: 0; }
.news-card.news-card--large{
	display: flex;
	column-gap:20px;
	.news-card__img{
		width: 440px;
		height: 250px;
		flex-shrink: 0;
		@media (max-width: 767px) {
			width: 100%;
			height: unset;
			aspect-ratio:16 / 9;
		}
	}
	img{
		aspect-ratio: 44 / 25;
		@media (max-width: 767px) {
			aspect-ratio: 16 / 9;
		}
	}
	@media (max-width: 767px) {
		flex-direction: column;
		max-width: 440px;
	}
}
.grid-col-3{
	.news-card--short:nth-child(n+4){
		border-top: 1px solid var(--sectionBorder);
		.news-card__body {
			padding-top: 20px;
			@media (max-width: 767px) {
					padding-top: 0;
				}
		}
	}
	@media (max-width: 767px) {
	border-top:0;
	}
}
.grid-col-2{
	.news-card--short:nth-child(n+3) {
		border-top: 1px solid var(--sectionBorder);
		.news-card__body {
			padding-top: 20px;
			@media (max-width: 767px) {
					padding-top: 0;
				}
		}
		@media (max-width: 767px) {
			border-top:0;
		}
	}
}
.news-card.news-card--special{
	position: relative;
	height: 240px;
	width: 240px;
	color: #fff;
	border-radius: 24px;
	overflow: hidden;
	&:before{
		content: '';
		position: absolute;
		inset: 0;
		background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.8) 100%);
		z-index: 1;
	}
	.news-card__img{
		position: absolute;
		inset: 0;
		height: 100%;

	}
	.news-card__body{
		color: #fff;
		position: relative;
		z-index: 2;
		display: flex;
		flex-direction: column;
		height: 100%;
		padding: 15px;
		&>*{width: 100%;}
		p{font-size: 11px; line-height: 1.5;}
		.news-card__cat{
			text-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.4);
			color: inherit;
			flex-shrink: 0;
		}
		.news-card__title{
			color: inherit;
			margin-top: auto;
		}
	}
}