extends ../layouts/layout.pug

block content
	.page-wrapper
		include ../sections/_header.pug
		main.single-cat-main
			include ../sections/_single-cat-articles.pug
			//======ДРУГИЕ НОВОСТИ ===
			include ../sections/_other-news.pug
		include ../sections/_footer.pug
	
block variables
	-var title = "Страница категории";
