extends ../layouts/layout.pug

block content
	.page-wrapper
		.container
			.social-contacts
				a(href="#!")
					svg.svg-tg
						use( href='./img/spriteSvg.svg#svg-tg')
				a(href="#!")
					svg.svg-vk
						use( href='./img/spriteSvg.svg#svg-vk')
				a(href="#!")
					svg.svg-ok
						use( href='./img/spriteSvg.svg#svg-ok')
				a(href="#!")
					svg.svg-wa
						use( href='./img/spriteSvg.svg#svg-wa')
block variables
	-var title = "Page";
